{% extends 'base.html.twig' %}

{% block title %}setOn{% endblock %}

{% block body %}

<main class="note-container">
    <nav class="nav-left">
        <ul>
            <div class="d-flex align-items-center justify-content-between gap-2 mb-3">
                <div class="d-flex align-items-center justify-content-start gap-2">
                    <img src="{{ asset('images/Logo_v4_setOn.svg') }}" alt="logo" class="logo" width="30" height="30">
                    {{ user.name }}
                </div>
                <a href="{{ path('app_logout') }}" class="btn logout">
                    <i class="bi bi-door-closed-fill door-icon" title="Logout"></i>
                </a>
            </div>
            <li>
                <a href="{{ path('app_home') }}" type="button"
                   class="btn d-flex w-100 align-items-center justify-content-start gap-2">
                    <i class="fa-solid fa-house"></i>Accueil
                </a>
            </li>
            <li>

                <button type="button" class="btn d-flex w-100">
                    <div class="d-flex align-items-center justify-content-between gap-2 w-100">
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            {% if user.requests | length > 0 %}
                                <i class="fa-solid fa-envelope"></i>
                            {% else %}
                                <i class="fa-solid fa-envelope-open"></i>
                            {% endif %}
                            Invitations
                        </div>
                        {% if user.requests | length > 0 %}
                            <span class="badge bg-danger rounded-pill">{{ user.requests | length }}</span>
                        {% endif %}
                    </div>
                </button>
            </li>
            <li>
                <div class="notes-section">
                    Mes notes
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="dropdown">
                            <a class="nav-light-text" data-bs-toggle="dropdown" aria-expanded="false"
                               href="" title="Create a note">
                                <i class="fa-solid fa-ellipsis"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-down-a-z"></i>
                                        Ascendant</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-up-z-a"></i>
                                        Descendant</a></li>
                            </ul>
                        </div>
                        <a class="nav-light-text" href="#" title="Create a note"><i
                                    class="fa-regular fa-square-plus"></i>
                        </a>
                    </div>
                </div>
            </li>
            {% for note in user.notes %}
                <li class="note-item">
                    <form class="d-flex align-items-baseline justify-content-between"
                          method="post" action="{{ path('app_note_delete', {'id': note.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <a class="nav-dark-text title" id="link-{{ note.id }}" style="flex: 1;"
                           href="{{ path('app_note_show', {id: note.id}) }}"> {{ note.title | capitalize ?: 'Nouvelle note' }}</a>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
                        <div class="edit-icons">
                            <button class="btn" title="Delete note"><i class="fa-regular fa-trash-can"></i></button>
                            <label for="">
                                <a class="nav-light-text"
                                   href="#" title="Duplicate note"><i
                                            class="fa-regular fa-copy"></i></a></label>
                        </div>
                    </form>
                </li>
            {% endfor %}
            <li>
                <div class="notes-section">
                    Notes partagées
                    <div class="dropdown">
                        <a class="nav-light-text" data-bs-toggle="dropdown" aria-expanded="false"
                           href="" title="Create a note">
                            <i class="fa-solid fa-ellipsis"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-down-a-z"></i>
                                    Ascendant</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-up-z-a"></i>
                                    Descendant</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            {% for note in user.contributions %}
            <li class="note-item">
                <a class="nav-dark-text title" id="link-{{ note.id }}" style="flex: 1;"
                    href="{{ path('app_note_show', {id: note.id}) }}"> {{ note.title | capitalize ?: 'Nouvelle note' }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="resizer" id="resizer"></div>
    {% block note %}
    Accueil !
    {% endblock %}
</main>
<script>
    (function () {


        const resizer = document.getElementById('resizer');
        const sidebar = document.querySelector('.nav-left');
        let x = 0;

        let sidebarWidth = 0;

        // if(browser.cookies.get('sidebarWidth')){
        //     sidebarWidth = browser.cookies.get('sidebarWidth');
        //     sidebar.style.width = `${sidebarWidth}px`;
        // } else {
        //     console.log('no cookies');
        // }

        function mouseDownHandler(e) {
            x = e.clientX;
            sidebarWidth = parseInt(window.getComputedStyle(sidebar).width, 10);
            resizer.classList.add('active');
            document.addEventListener('mousemove', mouseMoveHandler);
            document.addEventListener('mouseup', mouseUpHandler);
        }


        function mouseMoveHandler(e) {
            const dx = e.clientX - x;
            const newWidth = Math.max(100, Math.min(window.innerWidth / 2, sidebarWidth + dx));
            sidebar.style.width = `${newWidth}px`;
        }


        function mouseUpHandler() {
            resizer.classList.remove('active');
            document.removeEventListener('mousemove', mouseMoveHandler);
            document.removeEventListener('mouseup', mouseUpHandler);
            const newWidth = parseInt(window.getComputedStyle(sidebar).width, 10);
            browser.cookies.set('sidebarWidth', newWidth);
        }

        resizer.addEventListener('mousedown', mouseDownHandler);
    })();
</script>
{% endblock %}
